*.pyc
*.bak
*.pkl
*.lock
*.ipynb_checkpoints*
*.swp
__pycache__
.pytest_cache
dist/
build/
logs/
.vscode/
venv/
tfedlrn.egg-info/
docs/_build
bin/out
bin/federations/certs
Debug/
Release/
.metadata/
RemoteSystemsTempFiles/
.project
.pydevproject

